In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
!pip install scikit-plot
import scikitplot as skplt

Collecting scikit-plot
  Downloading https://files.pythonhosted.org/packages/7c/47/32520e259340c140a4ad27c1b97050dd3254fdc517b1d59974d47037510e/scikit_plot-0.3.7-py3-none-any.whl
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (0.22.2.post1)
Requirement already satisfied: joblib>=0.10 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (0.14.1)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (3.2.1)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->scikit-plot) (1.18.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib>=1.4.0->scikit-plot) (1.12.0)
Installing collected packages: scikit-plot
Successfully installed scikit-plot-0.3.7

In [0]:
dataset = pd.read_csv('/content/data.csv')
dataset.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [0]:
X_data = dataset.iloc[:,2:32]
y_data = dataset.iloc[:,1]

In [0]:
X = dataset.iloc[:,[2,31]].values
y = dataset.iloc[:,[1]].values

In [0]:
y=np.where(y=='M', 1, y) 
y=np.where(y=='B', 0, y) 
y=y.astype('int')

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.30, random_state=0)

In [0]:
from  sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
from sklearn.naive_bayes import GaussianNB
NB_Model =GaussianNB()
NB_Model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
y_NBpred = NB_Model.predict(X_test)

In [0]:
from sklearn.metrics import *
print(classification_report(y_test, y_NBpred))

              precision    recall  f1-score   support

           0       0.92      0.93      0.92       108
           1       0.87      0.86      0.86        63

    accuracy                           0.90       171
   macro avg       0.89      0.89      0.89       171
weighted avg       0.90      0.90      0.90       171

In [0]:
print(recall_score(y_test, y_NBpred))

0.8571428571428571

#Grid Search CV

In [0]:
steps = [1e-8, 1e-7, 1e-6, 1e-5, 1e-4]

In [0]:
from sklearn.model_selection import GridSearchCV
parameters =[{'var_smoothing': [1e-9, 1e-8, 1e-7, 1e-6, 1e-5, 1e-4]}]

In [0]:
grid_search = GridSearchCV(estimator=NB_Model,param_grid=parameters,
                           scoring= 'recall',cv=10, n_jobs=-1)

In [0]:
grid_search = grid_search.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
best_accuracy = grid_search.best_score_
best_param = grid_search.best_params_

In [0]:
best_accuracy

0.8323809523809522

In [0]:
best_param

{'var_smoothing': 1e-09}

#Applying hyperparameters to the original model

In [0]:
NB_Model_Grid =GaussianNB(var_smoothing=1e-09)
NB_Model_Grid.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
y_NBpred_Grid = NB_Model_Grid.predict(X_test)

In [0]:
print(recall_score(y_test, y_NBpred_Grid))

0.8571428571428571