In [0]:
  import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
!pip install scikit-plot
import scikitplot as skplt

Requirement already satisfied: scikit-plot in /usr/local/lib/python3.6/dist-packages (0.3.7)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (1.4.1)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (3.2.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (0.22.2.post1)
Requirement already satisfied: joblib>=0.10 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (0.14.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy>=0.9->scikit-plot) (1.18.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=1.4.0->scikit-plot) (1.12.0)

In [0]:
dataset = pd.read_csv('/content/data.csv')
dataset.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [0]:
X_data = dataset.iloc[:,2:32]
y_data = dataset.iloc[:,1]

In [0]:
X = dataset.iloc[:,[2,31]].values
y = dataset.iloc[:,[1]].values

In [0]:
y=np.where(y=='M', 1, y) 
y=np.where(y=='B', 0, y) 
y=y.astype('int')

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.24, random_state=0)

In [0]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [0]:
from sklearn.neighbors import KNeighborsClassifier

KNN_Model = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
KNN_Model.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [0]:
y_KNNpred = KNN_Model.predict(X_test)

In [0]:
from sklearn.metrics import *
print(classification_report(y_test, y_KNNpred))

              precision    recall  f1-score   support

           0       0.93      0.93      0.93        87
           1       0.88      0.88      0.88        50

    accuracy                           0.91       137
   macro avg       0.91      0.91      0.91       137
weighted avg       0.91      0.91      0.91       137

In [0]:
print(recall_score(y_test, y_KNNpred))

0.88

#Grid Search CV

In [0]:
from sklearn.model_selection import GridSearchCV
parameters =[{'n_neighbors':[4,5,6,7,8,9,10],'weights':["uniform","distance"],'algorithm':['auto','ball_tree','kd_tree','brute'],'leaf_size':[10,20,30,40,50],'p':[1,2,3,4,5]}]

In [0]:
grid_search = GridSearchCV(estimator=KNN_Model,param_grid=parameters,
                           scoring= 'recall',cv=5, n_jobs=-1)

In [0]:
grid_search = grid_search.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [0]:
best_accuracy = grid_search.best_score_
best_param = grid_search.best_params_

In [0]:
best_accuracy

0.8708333333333332

In [0]:
best_param

{'algorithm': 'auto',
 'leaf_size': 10,
 'n_neighbors': 9,
 'p': 1,
 'weights': 'uniform'}

#Applying hyperparameters to the original model

In [0]:
KNN_Model_Grid = KNeighborsClassifier(n_neighbors=9, p=1, algorithm= 'auto', weights='uniform', leaf_size=10)
KNN_Model_Grid.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=10, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=9, p=1,
                     weights='uniform')

In [0]:
y_KNNpred_Grid = KNN_Model_Grid.predict(X_test)

In [0]:
print(recall_score(y_test, y_KNNpred_Grid))

0.9